@charset "UTF-8";
@import "normalize.css";
@font-face {
  font-family: Montserrat-Bold;
  src: url(../font/Montserrat-Bold.otf);
}
@font-face {
  font-family: Montserrat-Regular;
  src: url(../font/Montserrat-Regular.otf);
}
@font-face {
  font-family: "icomoon";
  src: url("../font/icomoon.eot?c9ssel");
  src: url("../font/icomoon.eot?c9ssel#iefix") format("embedded-opentype"), url("../font/icomoon.ttf?c9ssel") format("truetype"), url("../font/icomoon.woff?c9ssel") format("woff"), url("../font/icomoon.svg?c9ssel#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-world:before {
  content: "";
}

.icon-bar-chart:before {
  content: "";
}

.icon-pie-chart:before {
  content: "";
}

.icon-circle-right:before {
  content: "";
}

.icon-circle-left:before {
  content: "";
}

.icon-mexico:before {
  content: "";
}

.icon-file-picture:before {
  content: "";
}

.icon-file-zip:before {
  content: "";
}

.icon-file-pdf:before {
  content: "";
}

.icon-file-empty:before {
  content: "";
}

.icon-file-picture:before {
  content: "";
}

.icon-file-zip:before {
  content: "";
}

.icon-file-pdf:before {
  content: "";
}

/*********************
BREAKPOINTS
*********************/
header {
  position: sticky;
  width: 100%;
  z-index: 2;
  top: 0;
}

@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}
/* needed for checkbox hack */
#mainNavHeader {
  position: relative;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  background: #285C4D;
  border-bottom: 1px solid #306e5c;
}
#mainNavHeader::-webkit-scrollbar {
  display: none;
}
#mainNavHeader ul {
  display: none;
  width: 100%;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#mainNavHeader ul li:first-child {
  display: none;
}
#mainNavHeader ul li a {
  font-weight: bold;
  padding: 1em;
  display: block;
  color: white;
  text-decoration: none;
}
#mainNavHeader ul li a:hover {
  background: #204a3e;
  color: white;
  text-decoration: underline;
}
#mainNavHeader ul li a img {
  height: 40px;
}
#mainNavHeader ul li .sessionActive {
  background: #285C4D;
  color: white;
}
#mainNavHeader ul li .logout {
  background: #9D2449;
  color: white;
}
#mainNavHeader ul li:first-child a:hover {
  background: none;
}
#mainNavHeader ul li:last-of-type a {
  border-right: 0px;
}
#mainNavHeader input.trigger {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
#mainNavHeader input.trigger:checked ~ ul, #mainNavHeader input.trigger:checked ~ ul li ul {
  display: block !important;
}
@media (min-width: 48em) {
  #mainNavHeader input.trigger:checked ~ ul, #mainNavHeader input.trigger:checked ~ ul li ul {
    display: flex !important;
    flex-direction: row;
  }
}
#mainNavHeader label {
  position: relative;
  display: block;
  min-height: 2em;
  padding: 0.45em;
  font-size: 1.1em;
  margin: 0;
  cursor: pointer;
  background: #285C4D;
  line-height: 2em;
}
#mainNavHeader label a {
  color: white;
  text-decoration: none;
}
#mainNavHeader label a img {
  height: 40px;
}
#mainNavHeader label:after {
  position: absolute;
  right: 1em;
  top: 0.2em;
  content: "≡";
  font-size: 1.8em;
  color: white;
}
@media (min-width: 48em) {
  #mainNavHeader ul {
    display: flex;
    flex-direction: row;
  }
  #mainNavHeader ul li:first-child {
    display: unset;
  }
  #mainNavHeader ul li {
    position: relative;
    text-align: center;
    margin-bottom: 1px solid #285C4D;
  }
  #mainNavHeader ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
  }
  #mainNavHeader ul li a img {
    height: 100%;
  }
  #mainNavHeader ul li:hover > ul {
    display: block !important;
  }
  #mainNavHeader label {
    display: none;
  }
}

#map-container {
  height: 600px;
  position: relative;
}
#map-container #map {
  height: 100%;
  overflow: hidden;
  width: 100%;
  z-index: 0;
}
#map-container #stormSelection {
  background: white;
  border-radius: 5px;
  box-sizing: border-box;
  left: 10px;
  padding: 0.5em;
  position: absolute;
  top: 10px;
  z-index: 1;
}

body {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

#root {
  margin-top: 70px;
}
#root h1 {
  text-align: center;
}
@media (min-width: 576px) {
  #root {
    margin-top: 75px;
  }
}
@media (min-width: 768px) {
  #root {
    margin-top: 75px;
  }
}
@media (min-width: 1200px) {
  #root {
    margin-top: 75px;
  }
}

.regularTxt {
  font-family: Montserrat-Regular;
  font-size: 14px;
}

.rotate-90 {
  display: inline-block;
  transform: rotate(90deg);
}

.box {
  width: 90%;
  height: 90%;
  padding: 20px;
  margin: 20px auto;
  box-shadow: 0px 0px 10px 2px grey;
  font-family: Montserrat-Bold;
}

th {
  width: auto;
}

.adjust {
  width: 50%;
}

.titulo {
  background: #D9D9D9;
  color: #A50021;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

.tituloEfectos {
  background: #BFBFBF;
  color: black;
  font-family: Montserrat-Bold;
  font-size: 25px;
  text-align: center;
  box-shadow: 0px 10px 10px 1px grey;
}

strong {
  font-size: 15px;
}

table, td, th {
  border: 1px solid black;
}

.otraTabla {
  border: none;
  width: 100%;
  height: 100%;
  text-align: center;
}

.tituloTable {
  border: 1px;
  border-style: none none solid none;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

.encabezado {
  font-family: Montserrat-Bold;
  background: gray;
  color: white;
  font-weight: bold;
  font-size: 19px;
  text-align: center;
}

p {
  margin-bottom: 0px !important;
  white-space: pre-line;
}

.comentarios {
  height: 100%;
  background: transparent;
  font-size: 14px;
}

.fecha {
  font-family: Montserrat-Bold;
  color: black;
  font-size: 20px;
}

.textFooter {
  font-family: Montserrat-Bold;
  color: black;
  font-size: 10px;
}

.logos {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

.tablaAutores {
  width: 100%;
}

.QR_box {
  border: 5px;
  border-style: solid;
  display: grid;
  grid-template-columns: 85% 15%;
  height: auto;
  background: #D9D9D9;
  color: black;
  font-family: Montserrat-Bold;
  font-size: 14px;
}

.footer_box {
  border: 1px;
  border-style: solid;
  height: auto;
  width: 80%;
  color: black;
  font-family: Montserrat-Bold;
  font-size: 6px;
  text-align: center;
  box-shadow: 0px 10px 10px 1px grey;
}

.DosRenglones {
  display: grid;
  grid-template-rows: auto auto;
  border: 5px;
  border-style: solid;
  height: auto;
  background: #D9D9D9;
  color: black;
  font-family: Montserrat-Bold;
  font-size: 14px;
}

.QR_box2 {
  display: grid;
  grid-template-columns: 85% 15%;
  height: auto;
  width: auto;
  background: #D9D9D9;
  color: black;
  font-family: Montserrat-Bold;
  font-size: 14px;
}

.tableData {
  display: grid;
  grid-template-columns: 50% 50%;
  height: auto;
}

.tableRegiones {
  text-align: center;
  display: grid;
  grid-template-rows: 30px auto 30px auto;
  height: auto;
  width: auto;
}

.tableDataL {
  display: grid;
  grid-template-rows: auto auto auto;
}

.tableDataR {
  display: grid;
  grid-template-rows: auto auto;
}

.subtitle {
  display: grid;
}

.solid {
  border: 1px;
  border-style: solid;
}

.solido {
  border: 1px;
  border-style: solid none solid none;
  background: #BFBFBF;
  color: black;
  font-family: Montserrat-Bold;
  font-size: 25px;
  text-align: center;
}

.dataH {
  font-weight: bold;
}

.dataD {
  font-weight: normal;
}

textarea {
  width: 100%;
}

.logos img {
  height: 60px;
}

#autores {
  text-transform: uppercase;
  font-size: 0.7em;
}

#filesUploaded {
  text-align: left;
}
#filesUploaded .deleteFile {
  border: 0;
  background: red;
  color: white;
  display: inline-block;
  padding: 0.25em;
  border-radius: 3px;
}

@media print {
  input {
    border: none;
    text-shadow: unset;
  }

  textarea {
    border: none;
  }

  @page {
    margin: 0px;
  }
  .box {
    box-shadow: none;
  }

  .encabezado {
    font-size: 32px;
  }
}

/*# sourceMappingURL=styles.css.map */
