@import "normalize.css";
@import "./modules/fonts";
@import "./modules/breakpoints";
@import "./modules/colors";
@import "./modules/nav";
@import "./modules/map";

body {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.mainContainer {
    margin: 0 auto;
    margin-top: 70px;
    width: 85%;

    h1 { text-align: center; }

    .tropicalCyclone {
        position: relative;

        #cycloneNameContainer {
            h2, h3 {
                margin: 0;
                text-align: center;
            }
    
            h2 {
                .titleContainer {
                    align-items: center;
                    display: flex;
                    justify-content: space-around;
    
                    .icon-circle-left, .icon-circle-right {
                        cursor: pointer;
                        &:hover { color: $guinda; }
                    }
    
                    .arrow.disable {
                        color: $lightGray;
                        &:hover { color: $lightGray; }
                    }
                }
            }
    
            h3 { 
                color: $lightGray;
                font-size: 0.75em;
            }
        }
    }

    #tropicalCicloneInfo {
        .tcInfo {
            margin: 1em 0;
            text-align: justify;
        }
    }

    .collapsible {
        background-color: lightgray;
        color: black;
        cursor: pointer;
        padding: 0.75em;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 0.75em;
    }

    .active, .collapsible:hover {
        background-color: #555;
        color: white;
    }

    .content {
        padding: 2em;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
    }

    .content img {
        width: 60%;
    }

    .content.img {
        text-align: center;
    }
    
    .content a {
        display: block;
        background-color: teal;
        width: 60%;
        margin: 0 auto;
        color: white;
    }

    .tituloEfectos {
        color: wheat;
        font-family: Montserrat-Bold;
        font-size: 1em;
        text-align: center;
        box-shadow: 0px 10px 10px 1px gray;
        background-color: #9D2449;
        text-decoration: none;
        padding: 0.5em 0.25em;
    }

    .regularTxt {
        font-size: 0.8em;
        margin: 1em 0.5em;
    }

    .tituloTable {
        font-weight: bold;
        font-size: 1em;
        text-align: center;
        background-color: teal;
        color: wheat;
        padding: 0.25em;
    }

    .footer_box {
        color: black;
        font-family: Montserrat-Bold;
        font-size: 0.75em;
        text-align: center;
    }

    .textFooter {
        font-family: Montserrat-Bold;
        color: black;
        font-size: 0.6em;
        text-align: center;
    }

    .enlaces-img {
        border: none; 
        width:100%; 
        height: 100%; 
        text-align: center;
    }

    .enlaces-img img { 
        width: 50%; 
    }

    .niveles {
        background-color: lightgray;padding: 0.5em;font-size: 1.2em;
    }

    @media(max-width: 500px) {
        .content img {
            width: 100%;
        }

        .enlaces-img img {
            width: 100%;
        }

        .footer_box {
            font-size: 0.45em;
        }

        .niveles {
            font-size: 1em;
        }
    }

    @include breakpoint(phablet) {
        margin-top: 75px;
    }
    @include breakpoint(tablet) {
        margin-top: 75px;
    }
    @include breakpoint(desktop) {
        margin-top: 75px;
    }
}

.tableContainer {
    .table {
        text-align: center;

        .table-section { margin-top: 1em; }
        .table-header { 
            font-weight: bold;
            text-transform: uppercase;
        }

        .table-group { 
            border: 1px solid black;
            margin-top: 0.25em;
        }

        .table-row {
            &.bgRedSIAT { background: red; font-weight: bold; padding: 0.25em 0; }
            &.bgOrangeSIAT { background: orange; font-weight: bold; padding: 0.25em 0; }
            &.bgYellowSIAT { background: yellow; font-weight: bold; padding: 0.25em 0; }
            &.bgGreenSIAT { background: #38BF34; font-weight: bold; padding: 0.25em 0; }
            &.bgBlueSIAT { background: #4F81BC; font-weight: bold; padding: 0.25em 0; }
        
            padding: 0.25em;
        }

        @include breakpoint(tablet) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            .table-section {
                width: 48%;
            }
        }
    
        @include breakpoint(laptop) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            .table-section {
                width: 48%;
            }
        }
    
        @include breakpoint(desktop) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            .table-section {
                width: 48%;
            }
        }
    }
}

.section {
    margin: 1em 0;
    text-align: justify;

    .infoSection { margin: 0.25em 0; }

    .infoElement {
        .list {
            .listElement { margin-bottom: 0.25em; }
        }
    }

    .mapContainer {
        text-align: center;
        margin: 1em 0;

        .activationButton {
            cursor: pointer;
            &:hover { color: $guinda; }
        }

        #map {
            background: $verde;
            height: 400px;
            width: 100%;

            @include breakpoint(tablet) {
                height: 500px;
            }

            @include breakpoint(laptop) {
                height: 500px;
            }

            @include breakpoint(desktop) {
                height: 500px;
            }
        }
    }

    #commentsText {
        text-align: justify;
    }
}

.charts {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#countyChart, #warningChart {
    width: 100%;
    height: 400px;

    @include breakpoint(laptop) {
        height: 500px;
        width: 45%;
    }

    @include breakpoint(desktop) {
        height: 500px;
        width: 45%;
    }
}

#warningChart {
    polyline{
        opacity: .3;
        stroke: black;
        stroke-width: 2px;
        fill: none;
    }
    
    .labelName tspan {
        font-style: normal;
        font-weight: 700;
    }
    
    .labelName {
        font-size: 0.9em;
        font-style: italic;
    }
}

#ciclonesTropicales, #aniosEventos {
    display: block;
    margin: 2em 0;
    width: 100%;
}

#eventInfo {
    .typeCountyTitle {
        font-style: italic;
        text-decoration: underline;
    }

    .countyColorContainer {
        margin: 0.5em 0;

        .countyColorTitle {
            font-weight: bold;
            display: inline-block;
            padding: 0 1em;

            &.ROJO { background: red;}
            &.NARANJA { background: orange;}
            &.AMARILLA { background: yellow;}
            &.VERDE { background: #38BF34;}
            &.AZUL { background: #4F81BC;}
        }
    }
}