@import "./modules/map";

@font-face{
	font-family:Montserrat-Bold;
	src:url(../font/Montserrat-Bold.otf);
}

@font-face{
	font-family:Montserrat-Regular;
	src:url(../font/Montserrat-Regular.otf);
}

.regularTxt{
	font-family:Montserrat-Regular;
	font-size: 14px;
}

.box{
	width: 90%;
	height: 90%;
	padding: 20px;
	margin: 20px auto;
	box-shadow: 0px 0px 10px 2px grey;
	font-family:Montserrat-Bold;
}
        
th {
	width:50%
}

.titulo{
	background: #D9D9D9 ;
	color: #A50021;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
}

.tituloEfectos{
	background: #BFBFBF ;
	color: black;
	font-family:Montserrat-Bold;
	font-size: 25px;
	text-align: center;
	box-shadow: 0px 10px 10px 1px grey;
}

table, td, th {
  border: 1px solid black;
}

.tituloTable{
	border:1px;
	border-style: none none solid none;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
}

.encabezado{
	font-family: Montserrat-Bold;
	background: gray ;
	color: white;
	font-weight: bold;
	font-size: 19px;
	text-align: center;
}

.comentarios{
	height: 90%;
	//font-family: Montserrat-Bold;
	background: transparent;
	font-size: 14px;
}

.fecha{
	font-family: Montserrat-Bold;
	color: black;
	font-size: 20px;
}

.logos{
	display: grid;
	grid-template-columns: 33.3% 33.3% 33.3%;
}

.tableData{
	display: grid;
	grid-template-columns: 50% 50%;
	height: auto;
}

.tableRegiones{
	text-align: center;
	display: grid;
	grid-template-rows: 30px auto 30px auto;
	height: auto;
	width: auto;
}

.tableDataL{
	display: grid;
	grid-template-rows: auto auto;
	
}

.tableDataR{
	display: grid;
	grid-template-rows: auto auto auto;
	
}

.subtitle{
	display: grid;
}

.solid {
	border: 1px;
	border-style: solid;
}

.solido {
	border: 1px;
	border-style: solid none solid none;;
	background: #BFBFBF ;
	color: black;
	font-family:Montserrat-Bold;
	font-size: 25px;
	text-align: center;
}

.dataH{
	font-weight: bold;
}

.dataD{
	font-weight: normal;
}

textarea {
	width: 100%;
}

@media print{
	input{
        border: none;
        text-shadow: unset;
    }
    
	textarea{
        border: none;
    }
    
	@page{
        margin:0px;
    }
    
	.box{
        box-shadow: none;
    }
    
    .encabezado{
        font-size: 32px;
	}
}