@import "normalize.css";
@import "./modules/fonts";
@import "./modules/breakpoints";
@import "./modules/colors";
@import "./modules/nav";
@import "./modules/map";

body {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

#root {
	margin-top: 70px;

    h1 { text-align: center; }

    @include breakpoint(phablet) {
        margin-top: 75px;
    }
    @include breakpoint(tablet) {
        margin-top: 75px;
    }
    @include breakpoint(desktop) {
        margin-top: 75px;
    }
}

.regularTxt {
	font-family: Montserrat-Regular;
	font-size: 14px; 
}

.rotate-90 {
  display: inline-block; 
  transform: rotate(90deg);
}

.box {
	width: 90%;
	height: 90%;
	padding: 20px;
	margin: 20px auto;
	box-shadow: 0px 0px 10px 2px grey;
	font-family: Montserrat-Bold; }
 
  th { width: auto; } 

 .adjust {width: 50%;}


  .titulo {
	background: #D9D9D9;
	color: #A50021;
	font-weight: bold;
	font-size: 25px;
	text-align: center; }
  
  .tituloEfectos {
	background: #BFBFBF;
	color: black;
	font-family: Montserrat-Bold;
	font-size: 25px;
	text-align: center;
	box-shadow: 0px 10px 10px 1px grey; }
  
  strong{
	font-size: 15px;
  }
  
  table, td, th {
	border: 1px solid black; }
  
  .otraTabla{
	border: none;  width: 100%; height: 100%; text-align: center;
  }
  
  .tituloTable {
	border: 1px;
	border-style: none none solid none;
	font-weight: bold;
	font-size: 25px;
	text-align: center; }
  
  .encabezado {
	font-family: Montserrat-Bold;
	background: gray;
	color: white;
	font-weight: bold;
	font-size: 19px;
	text-align: center; }
  
  p{
	margin-bottom: 0px !important;
	white-space: pre-line;
  }	
  .comentarios {
	height: 100%;
	background: transparent;
	font-size: 14px; }
  
  .fecha {
	font-family: Montserrat-Bold;
	color: black;
	font-size: 20px; }
  
  .textFooter{
	font-family: Montserrat-Bold;
	color: black;
	font-size: 10px; }
  
  .logos {
	display: grid;
	grid-template-columns: 33.3% 33.3% 33.3%; }
  .tablaAutores{
	width:100%;
  }
  
  .QR_box {
	border: 5px;
	border-style: solid;
	display: grid;
	grid-template-columns: 85% 15%;
	height: auto; 
	background: #D9D9D9;
	color: black;
	font-family: Montserrat-Bold;
	font-size: 14px;
	}
  
  .footer_box {
	border: 1px;
	border-style: solid;
	height: auto; 
	width:80%;
	color: black;
	font-family: Montserrat-Bold;
	font-size: 6px;
	text-align: center;
	box-shadow: 0px 10px 10px 1px grey;
	}
  
  .DosRenglones{
	display: grid;
	grid-template-rows: auto auto;
	border: 5px;
	border-style: solid;
	height: auto; 
	background: #D9D9D9;
	color: black;
	font-family: Montserrat-Bold;
	font-size: 14px;
  }
  
  .QR_box2 {
	display: grid;
	grid-template-columns: 85% 15%;
	height: auto; width: auto;
	background: #D9D9D9;
	color: black;
	font-family: Montserrat-Bold;
	font-size: 14px;
	}
  
  .tableData {
	display: grid;
	grid-template-columns: 50% 50%;
	height: auto; }
  
  .tableRegiones {
	text-align: center;
	display: grid;
	grid-template-rows: 30px auto 30px auto;
	height: auto;
	width: auto; }
  
  .tableDataL {
	display: grid;
	grid-template-rows: auto auto auto; }
  
  .tableDataR {
	display: grid;
	grid-template-rows: auto auto; }
  
  .subtitle {
	display: grid; }
  
  .solid {
	border: 1px;
	border-style: solid; }
  
  .solido {
	border: 1px;
	border-style: solid none solid none;
	background: #BFBFBF;
	color: black;
	font-family: Montserrat-Bold;
	font-size: 25px;
	text-align: center; }
  
  .dataH {
	font-weight: bold; }
  
  .dataD {
	font-weight: normal; }
  
  textarea {
	width: 100%; }

.logos img {
	height: 60px;
}



#autores {
	text-transform: uppercase;
	font-size: 0.7em;
}

#filesUploaded {
	text-align: left;

	.deleteFile {
		border: 0;
		background: red;
		color: white;
		display: inline-block;
		padding: 0.25em;
		border-radius: 3px;
	}
}
  
@media print {
	input {
		border: none;
		text-shadow: unset;
	}
  
	textarea { border: none; }

	@page { margin: 0px; }

	.box { box-shadow: none; }
	.encabezado { font-size: 32px; } 
}