@font-face {
    font-family: Montserrat-Bold;
    src: url("./fonts/Montserrat-Bold.ttf");
}
@font-face {
    font-family: Montserrat;
    src: url("./fonts/Montserrat-Regular.ttf");
}
#plantilla p, #plantilla div, #plantilla label, #plantilla span {
    font-family: Montserrat,sans-serif;
}
#plantilla p.re {
    display: inline !important;
}
#plantilla h1, #plantilla h2, #plantilla h3, #plantilla h4, #plantilla h5, #plantilla strong {
    font-family: Montserrat-Bold,sans-serif;
    font-size: inherit;
}
#plantilla p {
    white-space: normal;
}
#plantilla, #plantilla p {
    margin: 0 !important;
}
#plantilla {
    width:149.3mm;
    /* height:244.5mm !important; */
    background-color:#F5F5F5 !important;
    line-height: normal !important;
}
#plantilla .row {
    background-color:#235C4E !important;
    height:22.12mm !important;
    
    /* display:grid;
    grid-template-columns:82mm 67.3mm; */
}
/* .row:after {
    content: "";
    display: block;
    clear: both;
} */
#plantilla .column {
    float: left !important;
    box-sizing: border-box !important;
}
#plantilla .column.left {
    width: 55% !important;
    padding: 10px !important;
}
#plantilla .column.right {
    width: 45% !important;
    padding: 10px !important;
}
#plantilla table {
    border: none;
    border-spacing: 0 !important;
    border-collapse: separate !important;
    height: 56mm !important;
}
#plantilla tr {
    height: 1em !important;
}
#plantilla table th:nth-of-type(even), #plantilla table td:nth-of-type(even) {
    width: 5% !important;
    border: none;
}
#plantilla table th:nth-of-type(odd) {
    font-size:2.25mm !important;
    border:1px solid black !important;
    max-height: 2mm !important;
    width: 47.5% !important;
}
#plantilla table td:nth-of-type(odd) {
    font-size: 2mm !important;
    border:1px solid black !important;
    width: 47.5% !important;
}
#plantilla .rotate {
    color:black !important;
    font-size:3mm !important;
    /* width: 13.2em; */
    transform: translateX(2%) translateY(0%) rotate(-90deg) !important;
}
#plantilla .texto {
    font-size: 2.75mm !important;
}
#plantilla .titulo {
    font-size: 3.25mm !important;
    color: #235C4E !important;
    text-align: center !important;
    background-color: unset;
}
#plantilla .titulo-principal{
    color:white;font-size:3.5mm !important;
}
#plantilla .dorado {
    color:#CA9E67 !important;
}
#plantilla img {
    vertical-align: unset;
    border-style: none;
    box-sizing: initial;
}