@font-face {
	font-family: Montserrat-Bold;
	src: url(../font/Montserrat-Bold.otf);
}
  
@font-face {
	font-family: Montserrat-Regular;
	src: url(../font/Montserrat-Regular.otf);
}

@font-face {
	font-family: 'icomoon';
	src:  url('../font/icomoon.eot?6iw5s4');
	src:  url('../font/icomoon.eot?6iw5s4#iefix') format('embedded-opentype'),
	  url('../font/icomoon.ttf?6iw5s4') format('truetype'),
	  url('../font/icomoon.woff?6iw5s4') format('woff'),
	  url('../font/icomoon.svg?6iw5s4#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
  
[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
  
.icon-aeropuerto:before {
	content: "\e900";
}
.icon-banco:before {
	content: "\e901";
}
.icon-colonias:before {
	content: "\e902";
}
.icon-ganado:before {
	content: "\e903";
}
.icon-gasolina:before {
	content: "\e904";
}
.icon-hospital:before {
	content: "\e905";
}
.icon-hotel:before {
	content: "\e906";
}
.icon-people:before {
	content: "\e907";
}
.icon-presa:before {
	content: "\e908";
}
.icon-supermercado:before {
	content: "\e909";
}
.icon-bar-chart:before {
	content: "\e90a";
}
.icon-pie-chart:before {
	content: "\e90b";
}
.icon-circle-right:before {
	content: "\e90c";
}
.icon-circle-left:before {
	content: "\e90d";
}
.icon-mexico:before {
	content: "\e90e";
}
.icon-world:before {
	content: "\e90f";
}
.icon-file-empty:before {
	content: "\e924";
}
.icon-file-picture:before {
	content: "\e927";
}
.icon-file-zip:before {
	content: "\e92b";
}
.icon-file-pdf:before {
	content: "\eadf";
}
.icon-escuela:before {
	content: "\f19d";
}
.icon-vivienda:before {
	content: "\e910";
}