#map-container {
    height: 600px;
    position: relative;

    #map {
        height: 100%;
        overflow: hidden;
        width: 100%;
        z-index: 0;
    }

    #stormSelection {
        background: white;
        border-radius: 5px;
        box-sizing: border-box;
        left: 10px;
        padding: 0.5em;
        position: absolute;
        top: 10px;
        z-index: 1;
    } 
}