@import "./colors.scss";
@import "./effects.scss";

header {
    position: sticky;
    width: 100%;
    z-index: 2;
    top: 0;
}

$primaryColor: white; // dark blue
$secondaryColor: $verde; // green
$tertiaryColor: darken($verde, 5); // light blue

$flex_nav_hoverColor:$tertiaryColor;
$flex_nav_borderColor: lighten($tertiaryColor,10%);
$flex_nav_linkColor: $primaryColor;
$flex_nav_hotdogsColor: $primaryColor;

$flex_nav_subNavWidth: 12.5em;
$flex_nav_breakpoint: 48em;

@-webkit-keyframes bugfix { from {padding:0;} to {padding:0;} } /* needed for checkbox hack */

#mainNavHeader {
    position:relative;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    background: $secondaryColor;
    border-bottom:1px solid $flex_nav_borderColor;

    &::-webkit-scrollbar {
        display: none;
    }
    
    ul {
        display:none;
        width:100%;
        list-style:none;
        margin:0px;
        padding:0px;

        li:first-child {
            display: none;
        }
        
        li {
            a {
                font-weight: bold;
                padding:1em;
                display: block;
                color: $flex_nav_linkColor;
                text-decoration:none;

                &:hover {
                    background:$flex_nav_hoverColor;
                    color: white;
                    text-decoration: underline;
                }

                img {
                    height: 40px;
                }
            }

            .sessionActive {
                background: $verde;
                color: white;
            }

            .logout {
                background: $guinda;
                color: white;
            }

            &:first-child a:hover {
                background: none;
            }

            &:last-of-type {
                a {
                border-right:0px;
                }
            }
        }
    }
    
    input.trigger {
        position: absolute;
        top: -9999px;
        left: -9999px;

        &:checked ~ ul,
        &:checked ~ ul li ul {
            display:block !important;

            @media (min-width: $flex_nav_breakpoint){
                display: flex !important;
                flex-direction: row;
            }
        }
    }

    label {
        position:relative;
        display:block;
        min-height:2em;
        padding:.45em;
        font-size:1.1em;
        margin:0;
        cursor:pointer;
        background:$secondaryColor;
        line-height: 2em;
        a {
            color:$primaryColor;
            text-decoration: none;

            img {
                height: 40px;
            }
        }
    }
        
    label:after {
        position: absolute;
        right: 1em;  
        top: .2em; 
        content:"\2261";
        font-size:1.8em;
        color:$flex_nav_hotdogsColor;
    }
    
    @media(min-width:$flex_nav_breakpoint){
        ul {
            display: flex;
            flex-direction: row;

            li:first-child {
                display: unset;
            }
            
            li {
                position:relative;
                text-align: center;
                margin-bottom: 1px solid $secondaryColor;
                
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 40px;

                    img {
                        height: 100%;
                    }
                }

                &:hover > ul {
                    display: block !important;
                }

            }
        }

        label {
            display:none;
        }
    }
}