body {
    position: relative;
}

.parallax {
    position: relative;
    opacity: 0.85;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url($imageUrl);
    min-height: 50vh;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: rgba(17, 17, 17, 0.8);
    color: #fff;
    padding: 18px;
    font-size: 25px;
    display: block;
}